@charset "UTF-8";
/* CSS Document */

/*.links {
	visibility:hidden;	
}
/* the overlayed element */
.apple_overlay {

    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(images/white.png);

    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:640px;

    /* some padding to layout nested elements nicely  */
    padding:35px;

    /* a little styling */
    font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(images/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}

  /* use a semi-transparent image for the overlay */
  #overlay {
    background-image:url(images/transparent.png);
    color:#efefef;
    height:450px;
  }
  /* container for external content. uses vertical scrollbar, if needed */
  div.contentWrap {
    height:441px;
    overflow-y:auto;
  }

#map {
        width: 500px;
        height: 400px;
      }

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
a:active, a:focus {
	outline:0px;
}

/* Layout 
----------------------------- */

body {
	background:#9fddea url(images/bg-bottom.png) bottom center no-repeat;
}
#container {
	width:1250px;
	margin:0px auto;
	position:relative;
	overflow:visible;
	z-index:2;
}
/*Sections
----------------------------*/
#section1 {
	width:100%;
	height:2392px;
	position:relative;
}
#section2 {
	width:100%;
	height:1804px;
	position:relative;
}
#section3 {
	width:100%;
	height:2252px;
	position:relative;
}
#section4 {
	width:100%;
	height:1990px;
	position:relative;
}
#section5 {
	width:100%;
	height:2052px;
	position:relative;
}
#section6 {
	width:100%;
	height:1804px;
	position:relative;
}
#section7 {
	width:100%;
	height:1040px;
	position:relative;
}
/* Images
------------------------------*/
#languages {
	position: absolute;
	top: 5px;
	right: 0px;
	width: 100%;
	height: 50px;
}

#greek {
	position: absolute;
	right: 122px;
	width: 50px;
	height: 25px;
	background: url(images/flag-greece.png) 0px 0px no-repeat;
}

#swiss {
	position: absolute;
	right: 81px;
	width: 25px;
	height: 25px;
	background: url(images/flag-schweiz.png) 0px 0px no-repeat;
}

#english {
	position: absolute;
	right: 15px;
	width: 50px;
	height: 25px;
	background: url(images/flag-british.png) 0px 0px no-repeat;
}

#kd {
	position:absolute;
	top:20px;
	left:50px;
	width:487px;
	height:755px;
	background:url(images/katerinaanddominik.png) 0px 0px no-repeat;
}
#lunaplane {
	position:absolute;
	top:403px;
	right:159px;
	width:600px;
	height:358px;
	background:url(images/lunaplane.png) 0px 0px no-repeat;
}
#datelocation {
	position:absolute;
	top:144px;
	right:32px;
	z-index:1;
}
#joinus {
	position:absolute;
	left:301px;
	top:83px;
	background:url(images/back-joinus.png) no-repeat;
	width:816px;
	height:923px;
}
/* TRAVEL INFO */

#travelinfo {
	position:absolute;
	top:35px;
	left:-3px;
	margin-left:-31px;
	background:url(images/back-travelinfo.png);
	width:816px;
	height:923px;
}

.travelinfo-back {
	position:absolute;
	top:35px;
	left:-3px;
	width:816px;
	height:923px;
	margin-left:-31px;
}

#travelinfo-amsterdam {
	background:url(images/back-travelinfo-amsterdam.png);
}

#travelinfo-zurich {
	background:url(images/back-travelinfo-zurich.png);
}

#travelinfo-athens {
	background:url(images/back-travelinfo-athens.png);
}


#btn-travel-amsterdam {
	position:absolute;
	display:block;
	width:309px;
	height:74px;
	background:url(images/btn-travel-amsterdam.png) 0px 0px no-repeat;
	text-indent:-9999em;
}

#btn-travel-amsterdam:hover {
	background-position:0px -76px;
}

#btn-travel-zurich {
	position:absolute;
	display:block;
	width:243px;
	height:60px;
	background:url(images/btn-travel-zurich.png) 0px 0px no-repeat;
	text-indent:-9999em;
}
#btn-travel-zurich:hover {
	background-position:0px -60px;
}

#btn-travel-athens {
	position:absolute;
	display:block;
	width:251px;
	height:73px;
	background:url(images/btn-travel-athens.png) 0px 0px no-repeat;
	text-indent:-9999em;
}
#btn-travel-athens:hover {
	background-position:0px -76px;
}

.travelMain {
}

.travel1 {
	left: 411px;
	top:765px;
}
.travel2 {
	right: 530px;
	top:765px;
}

#btn-travel-athens.travel1 {
	left: 411px;
	top: 754px;
}
#btn-travel-athens.travel2 {
	right: 531px;
	top: 754px;
}

/* Travel info LINKS */

#link-aegean {
	position: absolute;
	display: block;
	left: 527px;
	top: 338px;
	width: 69px;
	height: 27px;
	background: url(images/link-aegean.png) 0px -30px no-repeat;
	text-indent: -9999em;
}

#link-aegean:hover {
	background-position:0px 0px;
}

#link-blue-star {
	position: absolute;
	display: block;
	left: 529px;
	top: 451px;
	width: 149px;
	height: 25px;
	background: url(images/link-blue-star.png) 0px -30px no-repeat;
	text-indent: -9999em;
}

#link-blue-star:hover {
	background-position:0px 0px;
}

#link-hellenic {
	position: absolute;
	display: block;
	left: 139px;
	top: 488px;
	width: 154px;
	height: 29px;
	background: url(images/link-hellenic-seaways.png) 0px -30px no-repeat;
	text-indent: -9999em;
}

#link-hellenic:hover {
	background-position:0px 0px;
}

#link-transavia {
	position: absolute;
	display: block;
	left: 246px;
	top: 375px;
	width: 89px;
	height: 19px;
	background: url(images/link-transavia.png) 0px -20px no-repeat;
	text-indent: -9999em;
}

#link-transavia:hover {
	background-position:0px 0px;
}

#link-neckermann {
	position: absolute;
	display: block;
	left: 161px;
	top: 491px;
	width: 119px;
	height: 22px;
	background: url(images/link-neckermann.png) 0px -23px no-repeat;
	text-indent: -9999em;
}

#link-neckermann:hover {
	background-position:0px 0px;
}

#link-sunweb {
	position: absolute;
	display: block;
	left: 301px;
	top: 491px;
	width: 71px;
	height: 22px;
	background: url(images/link-sunweb.png) 0px -23px no-repeat;
	text-indent: -9999em;
}

#link-sunweb:hover {
	background-position:0px 0px;
}

/*  */

#chios {
	position:absolute;
	left:446px;
	top:27px;
	width:816px;
	height:923px;
	background:url(images/back-chios.png);
}

.hotel-back {
	position:absolute;
	left:447px;
	top:42px;
	width:816px;
	height:923px;
}

#hotel-main {
	position:absolute;
	background:url(images/back-hotel.png);
}

#golden-sand {
	background:url(images/back-hotel-golden-sand.png);
}

#karatzas {
	background:url(images/back-hotel-karatzas.png);
}

#aegean-dream {
	background:url(images/back-hotel-aegean-dream.png);
}

/* HOTEL LINKS */

#btn-booking {
	position: absolute;
	display: block;
	width: 86px;
	height: 88px;
	background: url(images/btn-booking.png) 0px 0px no-repeat;
	text-indent: -9999em;
}

#btn-booking:hover {
	background-position:0px -88px;
}

.btn-booking-main {
	left: 653px;
	top: 390px;
}

.btn-booking-hotel {
	left: 631px;
	top: 425px;
}

#div-booking:hover #link-booking {
	background-position:0px 0px;
}

#div-booking:hover #btn-booking {
	background-position:0px -88px;
}

#link-booking {
	position: absolute;
	display: block;
	left: 485px;
	top: 430px;
	width: 168px;
	height: 29px;
	background: url(images/link-booking.png) 0px -31px no-repeat;
	text-indent: -9999em;
}

/*#link-booking:hover {
	background-position:0px 0px;
}*/

#link-golden-sand {
	position: absolute;
	display: block;
	left: 520px;
	top: 225px;
	width: 109px;
	height: 26px;
	background: url(images/link-golden-sand.png) 0px -31px no-repeat;
	text-indent: -9999em;
}

#link-golden-sand:hover {
	background-position:0px 0px;
}

#link-aegean-dream {
	position: absolute;
	display: block;
	left: 542px;
	top: 193px;
	width: 126px;
	height: 29px;
	background: url(images/link-aegean-dream.png) 0px -31px no-repeat;
	text-indent: -9999em;
}

#link-aegean-dream:hover {
	background-position:0px 0px;
}




/* CHIOS */

#btn-map-chios {
	position:absolute;
	display:block;
	width:256px;
	height:197px;
	background:url(images/map-chios.png) 0px 0px no-repeat;
	text-indent:-9999em;
	left:272px;
	top:672px;
}
#btn-map-chios:hover {
	background-position:0px -197px;
}

#btn-map-chios-close {
	position:absolute;
	display:block;
	background:url(images/close.png) 0px 0px no-repeat;
	text-indent:-9999em;
	left:1147px;
	top:150px;
	width: 35px;
	height: 35px;
}

/* CHIOS Links */


#link-chios {
	position: absolute;
	display: block;
	left: 360px;
	top: 766px;
	width: 111px;
	height: 28px;
	background: url(images/link-chios.png) 0px -30px no-repeat;
	text-indent: -9999em;
}

#link-chios:hover {
	background-position:0px 0px;
}


.hotelMain {
	visibility:hidden;
}

.hotel1 {
	left: 453px;
}

.hotel2 {
	left: 699px;
}

.hotel3 {
	left: 949px;
}

.hotel-button {
	top: 704px;
}

#btn-hotel-main {
	position:absolute;
	display:block;
	width:308px;
	height:301px;
	background:url(images/btn-hotel-main.png) 0px 0px no-repeat;
	text-indent:-9999em;
}

#btn-hotel-main:hover {
	background-position:0px -301px;
}

/* GOLDEN SAND */

#btn-hotel-golden-sand {
	position:absolute;
	display:block;
	width:308px;
	height:301px;
	background:url(images/btn-hotel-golden-sand.png) 0px 0px no-repeat;
	text-indent:-9999em;
}

/*
#btn-golden-sand.active {
	position:absolute;
	display:block;
	width:306px;
	height:282px;
	background:url(images/btn-hotel-golden-sand.png) 0px 0px no-repeat;
	text-indent:-9999em;
}
*/

#btn-hotel-golden-sand:hover {
	background-position:0px -301px;
}

/* KARATZAS */

#btn-hotel-karatzas {
	position:absolute;
	display:block;
	width:308px;
	height:301px;
	background:url(images/btn-hotel-karatzas.png) 0px 0px no-repeat;
	text-indent:-9999em;
}

#btn-hotel-karatzas:hover {
	background-position:0px -301px;
}

/*
#btn-karatzas.active {
	position:absolute;
	display:block;
	width:263px;
	height:184px;
	background:url(images/btn-karatzas.png) 0px 0px no-repeat;
	text-indent:-9999em;
}
*/

#btn-hotel-aegean-dream{
	position:absolute;
	display:block;
	width:308px;
	height:301px;
	background:url(images/btn-hotel-aegean-dream.png) 0px 0px no-repeat;
	text-indent:-9999em;
}

#btn-hotel-aegean-dream:hover{
	background-position:0px -301px;
}

/*
#btn-aegean-dream.active{
	position:absolute;
	display:block;
	width:300px;
	height:245px;
	background:url(images/btn-aegean-dream.png) 0px 0px no-repeat;
	text-indent:-9999em;
}
*/

#map-chios {
	position: absolute;
	display: block;
	width: 685px;
	height: 693px;
	text-indent: -9999em;
	left: 516px;
	top: 127px;
}
	
#registry {
	position: absolute;
	left: 410px;
	top: -21px;
	width: 810px;
	height: 451px;
	background: url(images/back-registry.png);
}

#rsvp {
	position:absolute;
	left:-45px;
	top:246px;
	width:810px;
	height:451px;
	background:url(images/back-rsvp.png);
}

#btn-rsvp-form {
	position: absolute;
	display: block;
	width: 209px;
	height: 39px;
	top: 249px;
	right: 433px;
	background: url(images/btn-rsvp-form.png) 0px 0px no-repeat;
	text-indent: -9999em;
}
#btn-rsvp-form:hover {
	background-position:0px -48px;
}

/* Floating Critters
----------------------------------*/

#tandem {
	position:absolute;
	top:429px;
	left:606px;
}
#bunnyballoon {
	position:absolute;
	top:138px;
	left:778px;
}
#vw_van {
	position:absolute;
	left:115px;
	top:306px;
}

#windmills {
	position:absolute;
	left:0px;
	top:301px;
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
	transform: rotate(-30deg);
}

#robot {
	position: absolute;
	left: 84px;
	top: 10px;
}

#book {
	position:absolute;
	left:752px;
	top:292px;
	width: 280px;
	height: 219px;
}

/* Top Links
--------------------------*/
#btn-banner-joinus {
	display:block;
	width:95px;
	height:40px;
	background:url(images/btn-banner-joinus.png) 0px 0px no-repeat;
	cursor:pointer;
	text-indent:-9999em;
	position:absolute;
	top:46px;
	left:77px;
}
#btn-banner-joinus:hover {
	background-position:0px -40px;
}

#btn-banner-travel {
	display:block;
	width:86px;
	height:40px;
	background:url(images/btn-banner-travel.png) 0px 0px no-repeat;
	cursor:pointer;
	text-indent:-9999em;
	position:absolute;
	top:45px;
	left:254px;
}
#btn-banner-travel:hover {
	background-position:0px -40px;
}

#btn-banner-hotel {
	display:block;
	width:86px;
	height:40px;
	background:url(images/btn-banner-hotel.png) 0px 0px no-repeat;
	cursor:pointer;
	text-indent:-9999em;
	position:absolute;
	top:45px;
	left:172px;
}
#btn-banner-hotel:hover {
	background-position:0px -40px;
}

#btn-banner-chios {
	display:block;
	width:83px;
	height:40px;
	background:url(images/btn-banner-chios.png) 0px 0px no-repeat;
	cursor:pointer;
	text-indent:-9999em;
	position:absolute;
	top:45px;
	left:335px;
}
#btn-banner-chios:hover {
	background-position:0px -40px;
}
	
#btn-banner-rsvp {
	display:block;
	width:95px;
	height:40px;
	background:url(images/btn-banner-rsvp.png) 0px 0px no-repeat;
	cursor:pointer;
	text-indent:-9999em;
	position:absolute;
	top:50px;
	left:410px;
}
#btn-banner-rsvp:hover {
	background-position:0px -40px;
}


#btn-banner-registry {
	display:block;
	width:83px;
	height:66px;
	background:url(images/btn-banner-registry.png) 0px 0px no-repeat;
	cursor:pointer;
	text-indent:-9999em;
	position:absolute;
	top:72px;
	left:505px;
}
#btn-banner-registry:hover {
	background-position:0px -66px;
}

/* Links
-----------------
#clouds {
		  position:absolute;
		  width:100%;
		  height: 16450px;
		  background: transparent url(images/clouds.png) 0 0px repeat-x; 
			top:0px;left:0px;
			z-index:1;*/
#clouds {
		  position:absolute;
		  width:100%;
		  height: 12756px;
		  background: transparent url(images/clouds.png) 0 0px repeat-x; 
			top:0px;left:0px;
			z-index:1;
		  
		}
a.up {
	display: block;
	width: 95px;
	height: 35px;
	background: url(images/up.png) 0px 0px no-repeat;
	cursor: pointer;
}
a.up:hover, a.up:active {
	background-position:0px -38px;
}
a.down {
	display:block;
	width:87px;
	height:39px;
	background:url(images/down.png) 0px 0px no-repeat;
	cursor:pointer;
}
a.top {
	display:block;
	width:86px;
	height:39px;
	background:url(images/top.png) 0px 0px no-repeat;
	cursor:pointer;
}
a.down:hover, a.down:active, a.top:hover, a.top:active {
	background-position:0px -38px;
}
.nav {
	width:86px;
	height:75px;
}
#nav2 {
	position:absolute;
	top:276px;
	right:141px;
	margin-right:-75px;
	z-index:10;
}
#nav3 {
	position:absolute;
	top:616px;
	right:0px;
	margin-right:-75px;
	z-index:10;
}
#nav4 {
	position:absolute;
	top:576px;
	left:770px;
	z-index:10;
}
#nav5 {
	position: absolute;
	top: 467px;
	left: 1242px;
	z-index: 10;
}
#nav6 {
	position: absolute;
	top: 528px;
	left: 823px;
	z-index: 10;
}
#nav7 {
	position: absolute;
	top: 210px;
	left: 1198px;
	z-index: 10;
}
/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}
